.flip-card {
    width: 175px;
    height: 175px;
    perspective: 1000px;
    cursor: pointer;
    border: #333 solid 1px;
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 8px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.flip-card-front {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}

.flip-card-back {
    background-color: #080591;
    color: white;
    transform: rotateY(180deg);
}

.link-item{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 16px;
    font-size: 14px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.link-item:hover{
    background-color: #000000;
    color: white;
}