header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
}
.content-container {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}
.scenario {
    margin-bottom: 40px;
    padding: 20px;
    background: #f9f9f9;
    border-left: 5px solid #333;
    border-radius: 5px;
}

.description{
    margin-bottom: 10px;
    text-align: center;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}

.video-player {
    width: 100%;
    height: 100%;
    min-height: 500px ;
  }

