<div class="container">
    <div class="page-header">
        What is Q²Forge ?
    </div>


    <div class="content-container">
        <div class="description">
            <p>
                <b>Q²Forge</b> provides an end-to-end pipeline to generate a dataset of (question, SPARQL query) pairs
                for a given Knowledge Graph (KG). The backend (Gen²KGBot) can be found at <a target="_blank"
                    href="https://github.com/Wimmics/gen2kgbot">this repo</a>. The following diagram shows the pipeline
                and how Q²Forge integrates with other systems.
            </p>
            <img width="100%" src="images/1-pipeline.png" alt="Q²Forge pipeline">
        </div>
        <div>
            <h2>Features</h2>
            <div class="feature-container">
                <app-flip-card description="KG Configuration and Pre-processing" icon="settings"
                    tryLink="kg-configuration-creation"
                    readMoreLink="https://github.com/Wimmics/q2forge/blob/main/doc/kg-creation.md"></app-flip-card>
                <app-flip-card description="Competency Question Generator" icon="create"
                    tryLink="competency-question-generator"
                    readMoreLink="https://github.com/Wimmics/q2forge/blob/main/doc/competency-question-generation.md"></app-flip-card>
                <app-flip-card description="SPARQL Query Generator" icon="question_answer"
                    readMoreLink="https://github.com/Wimmics/q2forge/blob/main/doc/sparql-query-generation.md"
                    tryLink="sparql-query-generator"></app-flip-card>
                <app-flip-card description="SPARQL Query Refinement" icon="check_circle_outline"
                    readMoreLink="https://github.com/Wimmics/q2forge/blob/main/doc/sparql-query-refinement.md"
                    tryLink="sparql-query-refinement"></app-flip-card>
            </div>
        </div>

        <div>
            <h2>Demo</h2>
            <iframe class="video-player" [src]="safeDemoVideoURL" frameborder="0" allowfullscreen></iframe>
        </div>


        @if (scenariosSchema) {

        <h2>Available Scenarios</h2>

        <div id="scenario_1" class="scenario">
            <h3>Scenario 1: Basic Question Answering</h3>
            <p>In this scenario, the LLM answers the question directly without querying the knowledge graph.</p>
            @if (scenariosSchema[0]) {
            <markdown mermaid [data]="scenariosSchema[0].graph_schema"> </markdown>
            }
        </div>

        <div id="scenario_2" class="scenario">
            <h3>Scenario 2: Generating SPARQL Query Without Context</h3>
            <p>The model generates a SPARQL query based on the question alone.</p>
            @if (scenariosSchema[1]) {
            <markdown mermaid [data]="scenariosSchema[1].graph_schema"> </markdown>
            }
        </div>

        <div id="scenario_3" class="scenario">
            <h3>Scenario 3: SPARQL Query with Class Context</h3>
            <p>The model generates a SPARQL query using related classes as context.</p>
            @if (scenariosSchema[2]) {
            <markdown mermaid [data]="scenariosSchema[2].graph_schema"> </markdown>
            }
        </div>

        <div id="scenario_4" class="scenario">
            <h3>Scenario 4: Adding Properties Context</h3>
            <p>In this scenario, the model incorporates property descriptions into the context.</p>
            @if (scenariosSchema[3]) {
            <markdown mermaid [data]="scenariosSchema[3].graph_schema"> </markdown>
            }
        </div>

        <div id="scenario_5" class="scenario">
            <h3>Scenario 5: Adding Retry Mechanism</h3>
            <p>If the generated query is invalid, the model retries by modifying the query.</p>
            @if (scenariosSchema[4]) {
            <markdown mermaid [data]="scenariosSchema[4].graph_schema"> </markdown>
            }
        </div>

        <div id="scenario_6" class="scenario">
            <h3>Scenario 6: Adding Example Queries for Context</h3>
            <p>Example SPARQL queries related to the question are provided to improve accuracy.</p>
            @if (scenariosSchema[5]) {
            <markdown mermaid [data]="scenariosSchema[5].graph_schema"> </markdown>
            }
        </div>

        <div id="scenario_7" class="scenario">
            <h3>Scenario 7: Adding SPARQL judge capabilities</h3>
            <p>SPARQL Judge is used after verifying the correct syntax of the generated SPARQL query to improve
                accuracy.</p>
            @if (scenariosSchema[6]) {
            <markdown mermaid [data]="scenariosSchema[6].graph_schema"> </markdown>
            }
        </div>

        }@else {
        <div class="loading-container">
            <mat-spinner></mat-spinner>
        </div>
        }
    </div>
</div>