// $primary-color: #ebebeb;
$primary-color: #ffffff;
$secondary-color: #000000;
$font-size-large: 18px;
$user-message-background-color: #dddddd;
// $user-message-background-color: #4b4b4b;
// $system-message-background-color: #4b4b4b;
$system-message-background-color: #dddddd;
$system-message-sender-color: #060233;

$font-size-page-header: 24px;