@use "../../styles/_variables" as *;
@use '@angular/material' as mat;

.container {
    display: flex;
    flex-direction: column;
}

.question-input {
    flex: 1;
}

.full-width {
    width: 100%;
}

.input-container {
    position: sticky;
    bottom: 0px;
    left: 5%;
    right: 5%;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.llm-scenario-container {
    display: flex;
    gap: 16px;

}

.schema-button-container {
    position: relative;
    display: inline-block;
}

.schema-tooltip {
    position: absolute;
    width: 450px;
    height: 500px;
    bottom: 80px;
    transform: translateX(-90%);
    background-color: #d8d8d8;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    transition: opacity 1s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.schema-tooltip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;

    button {
        background-color: rgb(243, 134, 134);
        color: rgb(221, 220, 220);
    }
}

.schema-button {
    // background-color: #839cc2;
    // color: #fff;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

}

.question-container {
    // position: fixed;
    display: flex;
    gap: 16px;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 96px;
    min-height: 50vh;
}

.message {
    z-index: 0;

    @include mat.expansion-overrides((container-text-color: rgb(0, 0, 0),
            header-hover-state-layer-color: rgb(255, 255, 255),
        ));

    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    border-left: #15008f 8px solid;

    // p {
    //     a {
    //         color: #3f3c50;
    //     }
    // }
}

.user-message {
    align-self: flex-end;
    @include mat.expansion-overrides((container-background-color: $user-message-background-color));

    mat-expansion-panel-header {
        background-color: rgb(197, 197, 197);
        margin-bottom: 16px;

    }
}

.system-message {
    align-self: flex-start;
    @include mat.expansion-overrides((container-background-color: $system-message-background-color));

    mat-expansion-panel-header {
        background-color: rgb(197, 197, 197);
        margin-bottom: 16px;
    }
}


.message-sender {
    font-size: 0.7rem;
    color: #15008f;
    background-color: #fff;
    border-radius: 6px;
    padding: 3px;
}
