<div>
    <div class="page-header">Competency Question Generator</div>

    <form class="form" [formGroup]="formGroup">
        <mat-form-field class="full-width">
            <mat-label>Context Endpoint URI</mat-label>
            <input matInput placeholder="e.g. {{model.endpoint}} " formControlName="endpoint">
            @if (formGroup.get("endpoint")?.hasError('pattern')) {
            <mat-error>Please enter a valid Context Endpoint URI address</mat-error>
            }
            @if (formGroup.get("endpoint")?.hasError('required')) {
            <mat-error>Context Endpoint URI is <strong>required</strong></mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>KG Description</mat-label>
            <textarea rows="10" matInput placeholder="e.g. {{model.kg_description}}"
                formControlName="kg_description"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>KG Schema</mat-label>
            <textarea rows="10" matInput placeholder="e.g. {{model.kg_schema}}" formControlName="kg_schema"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Additional Context</mat-label>
            <textarea rows="10" matInput placeholder="e.g. {{model.additional_context}}"
                formControlName="additional_context"></textarea>
        </mat-form-field>




        <div class="form-actions">
            <mat-form-field>
                <mat-label>LLM Model</mat-label>
                <mat-select formControlName="selected_LLM" name="llm-model">
                    @for (model of availableLLMModels; track model) {
                    <mat-option [value]="model">{{model.modelProvider}}:{{model.modelName}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label># Questions</mat-label>
                <input matInput type="number" min="1" max="100" placeholder="e.g {{model.number_of_questions}}"
                    formControlName="number_of_questions">
                @if (formGroup.get("number_of_questions")?.hasError('min')
                || formGroup.get("number_of_questions")?.hasError('max')) {
                <mat-error>Question Number Must be [1-100] </mat-error>
                }
                @if (formGroup.get("number_of_questions")?.hasError('required')) {
                <mat-error># Questions is <strong>required</strong></mat-error>
                }
            </mat-form-field>

            <mat-slide-toggle [formControl]="enforceStructuredOutput">
                Enforce Structured Output
            </mat-slide-toggle>

            <button mat-raised-button (click)="generateQuestionWithLLM()">
                <mat-icon>create</mat-icon>
                Generate Questions
            </button>
            <button mat-raised-button (click)="sampleSchema()">
                <mat-icon>space_bar</mat-icon>
                Sample Schema
            </button>
            <button mat-raised-button class="warning" (click)="reset()">
                <mat-icon>restore</mat-icon>
                Reset
            </button>
        </div>
    </form>


    @if (loading) {
    <div class="loading-message">Loading...</div>
    }
    @if (error) {
    <div class="error-message">{{ error }}</div>
    }

    @if (errorLLMAnswer) {
    <div class="error-message">Error: {{ errorLLMAnswer | json }}</div>
    }

    @if (llmAnswer ) {
    <h2>Generate Question Task</h2>
    <div>
        <markdown [data]="llmAnswer" lineNumbers clipboard></markdown>
    </div>
    }
    <div class="download-buttons">
        @if (workflowDone){
        <button mat-raised-button (click)="downloadResults()">
            <mat-icon>save_alt</mat-icon>
            Download dump answer
        </button>
        }
        @if (this.competencyQuestions.length != 0) {
        <button mat-raised-button (click)="downloadStructuredResults()">
            <mat-icon>save_alt</mat-icon>
            Extract and Download JSON
        </button>
        <button mat-raised-button (click)="addQuestionsToCookies()">
            <mat-icon>bookmark</mat-icon>
            Save to cookie and Answer
        </button>
        }
    </div>
</div>