<div class="container">
    <div class="page-header">SPARQL Query Generator and Executor</div>

    @if (chat_messages.length == 0) {
    <div class="upload-question-container">
        <mat-form-field appearance="outline" class="full-width"
            matTooltip="Click or drag/drop one or multiple JSON files containing the competency questions"
            matTooltipPosition="above">
            <mat-label>Or drop the JSON file containing the list of questions</mat-label>
            <ngx-mat-dropzone>
                <input type="file" fileInput multiple [formControl]="filesCtrl" />

                @for (file of questionFiles; track file.name) {
                <mat-chip-row (removed)="remove(file)">
                    {{ file.name }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </ngx-mat-dropzone>
            <mat-icon matPrefix>cloud_upload</mat-icon>
            @if (filesCtrl.hasError('accept')) {
            <mat-error>Invalid file type</mat-error>
            }
        </mat-form-field>
        <div class="dataset-buttons">
            <button mat-raised-button (click)="uploadQuestions()" [disabled]="filesCtrl.errors != null"
                matTooltip="Upload the questions from the selected files" matTooltipPosition="above">
                <mat-icon>upload</mat-icon>
                Upload questions
            </button>

            <button mat-raised-button extended (click)="checkCurrentQuestions()"
                matTooltip="Check and manage the current stored competency questions" matTooltipPosition="above">
                <mat-icon>search</mat-icon>
                Current Questions
            </button>
        </div>
    </div>
    }

    <div class=" chat-container">
        @if (errorLLMAnswer) {
        <div class="error-message">Error: {{ errorLLMAnswer | json }}</div>
        }

        @if (chat_messages.length > 0) {
        <div class="expand-all-container">
            <mat-slide-toggle [(ngModel)]="expandAllMessages">Expand all messages</mat-slide-toggle>
        </div>
        }

        @for (item of chat_messages; track $index) {
        <mat-expansion-panel class="message" [expanded]="expandAllMessages" [class.user-message]="item.sender == 'user'"
            [class.system-message]="item.sender != 'user'"
            [class.llm-message]="['on_chat_model_start','on_chat_model_stream','on_chat_model_end'].includes(item.eventType)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    @switch (item.sender) {
                    @case ('user'){
                    💬
                    }
                    @case ('init'){
                    🏁
                    }
                    @case ('preprocess_question'){
                    ✂️
                    }
                    @case ('select_similar_query_examples'){
                    🔍 📚
                    }
                    @case ('select_similar_classes'){
                    🔍 🏷️
                    }
                    @case ('get_context_class_from_cache'){
                    🎯 💾
                    }
                    @case ('get_context_class_from_kg'){
                    🎯 🕸️
                    }
                    @case ('create_prompt'){
                    ✍️ 📜
                    }
                    @case ('create_retry_prompt'){
                    ✍️ ✏️
                    }
                    @case ('verify_query'){
                    ✅ ⚠️
                    }
                    @case ('validate_sparql_syntax'){
                    ✅ ⚠️
                    }
                    @case ('extract_query_qnames'){
                    📤
                    }
                    @case ('find_qnames_info'){
                    🔍 🕸️
                    }
                    @case ('judge_regeneration_prompt'){
                    ✍️ ✏️
                    }
                    @case ('run_query'){
                    🚀
                    }
                    @case ('validate_question'){
                    🤖 ✅
                    }
                    @case ('generate_query'){
                    🤖 ✍️
                    }
                    @case ('interpret_results'){
                    🤖 📊
                    }
                    @case ('ask_question'){
                    🤖 ❓
                    }
                    @case ('judge_query'){
                    🤖 ⚖️
                    }
                    @case ('judge_regenerate_query'){
                    🤖 🔄
                    }
                    @default {
                    🤖
                    }

                    }
                    &nbsp;{{item.sender}}&nbsp;:&nbsp;<b>{{this.currentConfig[item.sender+"_model"]}}</b>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <markdown lineNumbers data="{{item.content}}" clipboard></markdown>

            @if (item.queryToRefine) {
            <mat-action-row>
                <div class="refine-query-container">
                    <a mat-fab extended target="_blank" routerLink="/sparql-judge"
                        [queryParams]="{query: item.queryToRefine, question: item.questionOfTheQueryToRefine}">
                        <mat-icon>edit</mat-icon>
                        Refine Query
                    </a>
                </div>
            </mat-action-row>
            }

            @if(item.sender == 'run_query'){
            <mat-action-row>
                <div class="refine-query-container">
                    <a mat-fab extended target="_blank" routerLink="/result-visualiser"
                        [queryParams]="{data: 'some data', question: 'the question to answer'}">
                        <mat-icon>edit</mat-icon>
                        Visualise Results
                    </a>
                </div>
            </mat-action-row>
            }
        </mat-expansion-panel>
        }

        @if (workflowRunning) {
        <div>
            <mat-spinner></mat-spinner>
        </div>
        }

    </div>

    <div class=" question-container">
        <mat-form-field appearance="outline" class="question-input" 
        matTooltip="The question to answer from the current active KG using one of the Gen²KGBot scenarios" matTooltipPosition="above">
            <mat-label>Question to answer</mat-label>
            <input type="text" matInput [formControl]="question_fc" [matAutocomplete]="auto"
                (keydown.enter)="addCustomQuestion()" placeholder="Ex. {{questionExample}}">
            @if (question_fc.hasError('required')) {
            <mat-error>The question is <strong>required</strong></mat-error>
            }
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onQuestionOptionSelected($event)">
                @for (option of filteredQuestionOptions | async; track $index) {
                <mat-option [value]="option">
                    {{ option }}
                </mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>

        <button mat-mini-fab (click)="setConfiguration()" matTooltip="Configure the scenario and models to use to answer the question" matTooltipPosition="above">
            <mat-icon>settings</mat-icon>
        </button>

        @if(!workflowRunning) {
        <button mat-mini-fab (click)="ask_question()" [disabled]="!this.currentConfig || question_fc.invalid"
            matTooltip="Start the answering workflow" matTooltipPosition="above">
            <mat-icon>send</mat-icon>
        </button>
        }@else {
        <button mat-mini-fab (click)="stop_wrkflow()" disabled="true" matTooltip="Stop the current answering process" matTooltipPosition="above">
            <mat-icon>stop</mat-icon>
        </button>
        }

    </div>

</div>