@use "../styles/_variables" as *;

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    width: 80%;
    margin: 0 auto;
    max-width: 1200px;

}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    
}

.toolbar {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
}

.toolbar-left {
    display: flex;
    align-items: center;
}

.toolbar-right{
    display: flex;
    align-items: center;
    gap: 8px;
}
h1.example-app-name {
    margin-left: 8px;
}

.sidenav-container {
    flex: 1;
    background-color: $primary-color;
}

.sidenav {
    height: 85%;
    width: 300px;
    background-color: $primary-color;
}

.sidenav-content {
    border: 1px solid black;
    border-radius: 16px;
    padding: 8px;
}

.sidenav-item {
    cursor: pointer;
    border: 1px dashed black;
    margin: 8px;
    width: 95%;
}