@use "../styles/_variables" as *;

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.toolbar {
    background-color: $primary-color;
}

h1.example-app-name {
    margin-left: 8px;
}

.sidenav-container {
    flex: 1;
    background-color: $primary-color;
}

.sidenav {
    height: 85%;
    width: 300px;
    background-color: $primary-color;

}

.sidenav-content {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

.sidenav-item {
    cursor: pointer;
    border: 1px dashed black;
    margin: 8px;
    width: 95%;
}