.schema-button-container {
    position: relative;
    display: inline-block;
}

.schema-tooltip {
    position: absolute;
    width: 450px;
    height: 500px;
    bottom: 80px;
    transform: translateX(-90%);
    background-color: #d8d8d8;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    transition: opacity 1s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.schema-tooltip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;

    button {
        background-color: rgb(243, 134, 134);
        color: rgb(221, 220, 220);
    }
}

.schema-button {
    // background-color: #839cc2;
    // color: #fff;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

}

.tooltip-multiline {
    white-space: pre-line !important;
    ;
}

.config-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    // padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}


.dialog-content{
    display: flex;
    gap: 16px;
}

.config-container{
    flex-grow: 1;

}
.schema-container{
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    // border: 1px solid #d8d8d8;
}
