<div>
    <div class="page-header">Login</div>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            @if (loginForm.get('username')?.hasError('required')) {
            <mat-error>This field is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'">
            <mat-icon matSuffix (click)="togglePasswordVisibility()">remove_red_eye</mat-icon>
            @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>This field is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <div class="form-actions">
            <button mat-raised-button type="submit">
                <mat-icon>login</mat-icon>
                Login
            </button>
            <span>Or</span>
            <a mat-raised-button routerLink="/sign-up">
                <mat-icon>person_add</mat-icon>
                Go to Sign Up
            </a>
        </div>
    </form>
</div>