/* You can add global styles to this file, and also import other style files */
@use './styles/_variables' as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: $secondary-color;
}

h1 {
    color: $secondary-color;
}

.page-header {
    width: 300px;

    color: $secondary-color;
    font-size: $font-size-page-header;
    margin: 0 auto 16px auto;
    font-weight: bold;

    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 2px 5px rgba(0, 0, 0, 0.5);
}


.markdown-clipboard-button {
    position: absolute;
    top: -32px;
    right: -10px;
    background-color: #f5f5f5;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 4px;
}

.markdown-clipboard-button:hover {
    position: absolute;
    top: -30px;
    background-color: #2c2c2c;
    border: 1px solid #10e43e;
    border-radius: 5px;
    padding: 4px;
    color: #fff;
    cursor: copy;
}

.warning {
    color: red;
}

.full-width {
    width: 100%;
}


.warn-mini-fab-button {
    color: rgb(240, 233, 233);
    background-color: rgb(228, 31, 31);
}

.form-errors-container {
    margin: 0 auto;
    width: 80%;
    color: rgb(110, 0, 0);
    padding: 16px;
    border-radius: 8px;
    background-color: #f7cbcb;
    border: 1px solid #ccc;
    box-shadow: 2px 5px 5px 5px rgba(126, 2, 2, 0.5);
}

.fa-icon-link {
    color: #000000;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.link-item {
    text-decoration: none;
    color: #7986cb;
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.link-item:hover {
    background-color: #000000;
    color: white;
}