.actions-container {
    display: flex;
    justify-content: space-around;
    gap: 16px;

    mat-form-field {
        flex-grow: 0.5;
    }

}

.dataset-table {
    width: 100%;
}

.mat-column-actions {
    width: 50px;
}

// .mat-column-question {
//     width: 50px;
// }

// .mat-column-complexity {
//     width: 50px;
// }
// .mat-column-tags {
//     width: 150px;
// }



.warn-mini-fab-button {
    color: rgb(240, 233, 233);
    background-color: rgb(228, 31, 31);
}